*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
}
nav{
    position: fixed;
    z-index: 90;
    padding: 1em;
    width: 100%;
    background-color: rgb(95, 95, 243);
    }
.wrap_nav{
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 5em;
    gap: 1em;
    .nav2{display: none;}
    .hamburger{display: none;}
    .logo{
        color: white;
        font-size: 25px;
        font-weight: 700;
        cursor: pointer;
    }
    .search{
        background-image:url("/static/images/magnifying-glass.png");
        background-repeat: no-repeat;
        background-size: 23px;
        background-position: 17px center;
        border: 1px solid rgb(247, 241, 241);
        border-radius: 10px;
        height: 2em;
        width: 19em;
        padding: 0 2em;
        outline: none;
        background-color: rgb(231, 238, 243);
        margin-right: 1em;
        margin-left: 1em;
        font-size: 1.5em;
    }
    ul{
        display: flex;
        list-style-type: none;
        li{
            display: inline-block;
            padding: 0.4em;
            font: 1.1em sans-serif;
            font-weight: 700;
            margin-right: 1.3em;
            color: white;
            a{
                color: white;
                text-decoration: none;
            }
        }
        li:hover{
            background-color:  rgb(138, 138, 243);
            border-radius: 8px;
        }
    }
}
main{
    padding: 26em 0;
}