*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.5);
}
main{
    .bg{
        width: 100%;
        padding-top: 5em;
    }
    .log_form_container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        color: black;
        top: 20%;
        left: 0;
        form{
            padding: 2em 3em;
            box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
            width: 34em;
            height: 37em;
            font-family: 'Brush Script MT', cursive;
            .login_label{
                color: black;
                font-size: 3em;
                font-weight: 800;
                padding-left: 2.5em;
                padding-bottom: 1em;
                text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
            }
            label{
                color: whitesmoke;
                font-size: large;
                text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
                padding: 0 1em 0 3em;
            }
            input{
                height: 1.7em;
                padding: 0 1.3em 0 1em;
                outline: none;
                font-size: 1em;
                font-weight: bold;
                border-radius: 1em;
                border-color: transparent;
            }
            #email{margin-left: 2em;}
            #dob{margin-left: 2.7em;}
            .password_container{
                background-color: transparent;
                position: relative;
                .show_hide{
                    position: absolute;
                    top: 20%;
                    right: 25.5%;
                }
            }
            .repeat_password_container{
                background-color: transparent;
                position: relative;
                #repeat_password{
                    width: 9.5em;
                }
                .rpshow_hide{
                    position: absolute;
                    top: 20%;
                    right: 25.5%;
                }
            }
            button{
                margin-left:5em;
                width: 5em;
                height: 2em;
                font-size: 2em;
                background-color: rgba(153, 0, 255, 0.459);
                border-radius: 1em;
                border: none;
                cursor: pointer;
            }
            button:hover{
                text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
                transform:translateY(-2px)
            }
            a{
                text-decoration: none;
                float: right;
                font-size: small;
                font-weight: bolder;
                cursor: pointer;
                color: whitesmoke;
                text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
            }
            a:hover{
                color: blue;
                text-decoration: underline;
            }
        }
    }
}