*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
}
nav{
    position: fixed;
    z-index: 90;
    padding: 1em;
    width: 100%;
    background-color: rgb(95, 95, 243);
    }
.wrap_nav{
    width: 100%;
    .nav1{
        display: flex;
        align-items: center;
        margin-left: 5em;
        gap: 1em;
    }
    .nav2{display: none;}
    .hamburger{display: none;}
    .logo{
        color: white;
        font-size: 25px;
        font-weight: 700;
        cursor: pointer;
    }
    .search{
        background-image:url("/static/images/magnifying-glass.png");
        background-repeat: no-repeat;
        background-size: 23px;
        background-position: 17px center;
        border: 1px solid rgb(247, 241, 241);
        border-radius: 10px;
        height: 2em;
        width: 19em;
        padding: 0 2em;
        outline: none;
        background-color: rgb(231, 238, 243);
        margin-right: 1em;
        margin-left: 1em;
        font-size: 1.5em;
    }
    ul{
        display: flex;
        list-style-type: none;
        li{
            display: inline-block;
            padding: 0.4em;
            font: 1.1em sans-serif;
            font-weight: 700;
            margin-right: 1.3em;
            color: white;
            a{
                color: white;
                text-decoration: none;
            }
        }
        li:hover{
            background-color:  rgb(138, 138, 243);
            border-radius: 8px;
        }
    }
}
@media (max-width: 720px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: rgb(84, 164, 245);
    }

    .wrap_nav {
        display: flex;
        background-color: orange;
        width: 100%;
        padding: 1em 0.5em;
    }

    .nav1 {
        display: none;
    }

    .nav2 {
        display: flex;
        gap: 1em;
        padding: 0 1em;
    }

    .n2prop {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    .n2prop1 {
        padding: 6px;
        font-size: 1.2em;
        font-weight: 600;
        color: rgb(75, 72, 71);
    }

    .n2prop1:hover {
        background-color: rgba(226, 149, 5, 0.932);
        border-radius: 12px;
        color: bisque;
    }

    .logo {
        color: red;
        font-size: 1.9em;
        font-weight: 600;
    }

    .search2 {
        display: flex;
        width: 1.4em;
        height: 1.8em;
        justify-content: center;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .bar {
        position: relative;
        width: 1.2em;
        border: 1px black solid;
        margin-bottom: 3px;
    }

    .menu_container {
        display: none;
        position: absolute;
        top: 9%;
        right: 1%;
        width: 25%;
        height: 30%;
        padding: 1em 3em 2em 1em;
        background-color: rgb(1, 7, 15);
        color: azure;
        border-radius: 12px;
    }

    .menu_container ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .menu_container li {
        list-style-type: none;
        padding-bottom: 0.2em;
        border-bottom: solid wheat 1px;
        font-size: 1.5em;
    }

    .menu_container li:hover {
        color: lightseagreen;
        border-color: lightseagreen;
    }
}
