<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>
    
    {% block style_link %}<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">{% endblock %}

</head>
<body>
    <nav>{% block nav %}{% endblock %}</nav>
    <main>{% block main %}{% endblock %}</main>
    <footer>{% block footer %}{% endblock %}</footer>
    <script src="{{url_for('static', filename='js/layout.js')}}"></script>
</body>
</html>