{% extends 'layout.html' %}

{% block title %}Login Page{% endblock %}

{% block style_link %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block main %}
{% if message or report %}
<div class="message">
    {{ message if message else report }}
</div>
{% endif %}
<div class="background_container">
    <img src="{{url_for('static', filename='images/image.png')}}" width="100%">
    <div class="log_form_container">
        <form action="/log" method="POST" >
            <div class="login_label">Login Page</div>
            <label for="username">username</label>
            <input type="text" name="username" id="username" placeholder="   Email or username" required><br><br>
            <div class="password_container">
                <label for="password">password</label>
                <input type="password" id="password" name="password" placeholder="   *******" required>
                <img class="show_hide" src="{{url_for('static', filename='images/show.png')}}" alt="show_btn">
            </div>
            <br><br><br>
            <button type="submit" >Submit</button>
            <br><br>
            <a href="{{ url_for('register') }}">Registeration Page for new users</a>
        </form>
    </div>
</div>
{% endblock %}

{% block script_link %}
    <script src="{{url_for('static', filename='js/layout.js')}}"></script>
    <script src="{{url_for('static', filename='js/login.js')}}"></script>
{% endblock %}