

<div class="wrap_nav">
    <div class="nav1">
        <div class="logo">Nick's</div>
        <div class="search_bar">
            <input type="text" name="search" class="search">
        </div>
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="login">Schedule</a></li>
            <li>About Us</li>
            <li>More</li>
        </ul>
    </div>
    <div class="nav2">        <!-- new nav for mob -->
        <div class="search2">
            <img src="{{url_for('static', filename='images/magnifying-glass.png')}}" alt="lens">
        </div>
        <div class="logo">Nick's</div>
        <div class="n2prop">
            <div class="n2prop1"><a href="home">Home</a></div>
            <div class="n2prop1">About us</div>
        </div>
        <div class="hamburger">       <!-- menubar for mob -->
            <div class="menu">
                <div class="b1 bar"></div>
                <div class="b2 bar"></div>
                <div class="b3 bar"></div>
            </div>
            <div class="menu_container">
                <div class="menu">
                    <ul>
                        <li><a href="login">Login</a></li>
                        <li>Sign up</li>
                        <li><a href="login">Schedule</a></li>
                        <li>More</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
