

<div class="wrap_nav">
    <div class="logo">Nick's</div>
    <div class="search_bar">
        <input type="text" id="search" class="search">
    </div>
    <div class="nav2">        <!-- new nav for mob -->
        <div class="n2prop">
            <div><a href="home">Home</a></div>
            <div><a href="timer">Schedule</a></div>
            <div class="lens">
                <img src="/static/images/magnifying-glass.png" alt="lens">
            </div>
        </div>
        <div class="hamburger">       <!-- menu bar for mob -->
            <div class="b1 bar"></div>
            <div class="b2 bar"></div>
            <div class="b3 bar"></div>
        </div>
    </div>
    <ul>
        <li><a href="home">Home</a></li>
        <li>About</li>
        <li><a href="login">Login</a></li>
        <li><a href="timer">Schedule</a></li>
        <li>More</li>
    </ul>
</div>
