{% extends 'layout.html' %}

{% block title %}Schedule Page{% endblock %}

{% block style_link %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}"> 
<link rel="stylesheet" href="{{url_for('static', filename='css/reminder.css')}}"> 
{% endblock %} 

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block main %}
    <div class="notification"></div>
    <div class="ts_cont">
        <div class="main_left">
            <form action="/timer" class="left_form" method="POST">
                <div class="con1 con">
                    <label for="name" class="label">Name</label>
                    <input type="text" class="name_input" name="name_input" required>
                
                </div>
                <div class="con2 con">
                    <label for="time" class="label">Timing</label>
                    <div class="time_btn">
                        <input type="number" class="time_input" name="time_input" min="0" max="180" step="1" required>
                        <button class="reset_btn" type="button" onclick="resetTimer()">x</button>
                    </div>

                            <!-- Confirm Message -->
                    <div class="background_cf">
                        <div class="confirm_form"> 
                            <label for="a1">Are you want to start timer for the
                                " <span id="name"></span> " for 
                                " <span id="timing"></span> "  min ?</label>
                            <div class="cf_btns">
                                <button class="cf_btn1 cf_btn" type="button" onclick="t_submit(event)">Confirm</button>
                                <button class="cf_btn2 cf_btn" type="button" onclick="cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <button type="submit" >Submit</button>
                </div>
            </form>
            <table>
                <tr>
                    <th>Status</th>
                    <th>Name</th>
                    <th>Time</th>
                    <th>Start</th>
                    <th>Stop</th>
                </tr>
            </table>
            <div class="bottom_form">
                <table class="table">
                        {% for entry in entries %}
                            <tr class="row-{{ entry['_id'] }}">
                                <td><span class="status_s" id="status-{{ entry['_id'] }}">{{ entry['Status'] }}</span></td>
                                <td>
                                    <div class="delete_data">
                                        <span class="name_data">{{ entry['Name'] }}</span>
                                        <div class="delete_btn" onclick="del_confirm(`{{ entry['_id'] }}`)">delete</div>


                                        <div class="opacity_bottom_form">
                                            <div class="confirm_bottom_form"> 
                                                <label for="a1">Do you want to delete the selected record ?</label>
                                                <div class="cbf_btns">
                                                    <button class="cbf_btn1 cbf_btn" type="button" onclick="delete_row()">Confirm</button>
                                                    <button class="cbf_btn2 cbf_btn" type="button" onclick="cancel()">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ entry['Timing'] }}</td>
                                <td>{{ entry['Created_at'].split(' ')[1].rsplit(':',1)[0] }}</td>
                                <td>{{ entry['Stop_at'].split(' ')[1].rsplit(':',1)[0] }}</td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
        <div class="main_right">
            <div class="Timing_chart">
                <div id="timer">00:00</div>
            </div>
            <div id="clock"></div>
            <audio id="audioPlayer">
                <source src="{{ url_for('play_audio') }}" type="audio/wav">
            </audio>
        </div>
    </div>
{% endblock %}

{% block script_link %}
    <script src="{{url_for('static', filename='js/layout.js')}}"></script>
    <script src="{{url_for('static', filename='js/reminder.js')}}"></script>
{% endblock %}